$def with(propiedad,codificaciones)
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <script type="text/javascript" language="javascript">
      jQuery(document).ready(function(){
	  jQuery("*[title]").tipsy();
	  // Binding  validacion y onblur con la ayuda de jQuery
	  jQuery('input.rango-decimal').each(function (){
	      var t = jQuery(this);
	      t.attr('onblur','validar_decimal(this);')
	  });
	  jQuery('#btnguardar').click(function(){
	      var resp = confirm('Está seguro que desea grabar los datos');
	      if (! resp){
                  window.location.href='#';
              };
	      jQuery.ajax({
		  type: 'POST',
		  url: '/editptecnologica',
		  data: jQuery('#form-propiedad').serializeArray(),
		  error: function(xhr,status){
			alert("Error al grabar propiedad tecnológica: " + status + xhr);
		  },
		 success: function(response){
		     // En la pagina principal
		     jQuery('#content').html('<h3>  Propiedad Grabada con Exito </h3>');
		 }

	      });
	  });
      });
    </script>
  </head>
  <body>
    <form id="form-propiedad" action="">
      $# discriminar edición o grabación
      $if len(propiedad) > 1:
          $ readonly = "readonly='readonly'"
          $ disabled = "disabled='disabled'"
      $else:
          $ readonly = ""
          $ disabled = ""
      <fieldset id="datos">
	<legend> Datos de la Propiedad </legend>
	<label for="id_propiedad" title="Identificador de la Propiedad"> Identificador </label>
	<input id="id_propiedad" name="id_propiedad" value="$propiedad.get('id_propiedad','0')" readonly="readonly" type="text"/> <br/>
	<label for="nombre"  title="Nombre de la Propiedad">Nombre </label> 
	<input id="nombre" name="nombre" type="text" value="$propiedad.get('nombre','')" $readonly/> <br/>
	<label for="abreviatura"  title="Si la hay">Abreviatura </label> 
	<input id="abreviatura" name="abreviatura" type="text" value="$propiedad.get('codigo','')" $readonly/> <br/>
	<label for="categoria"  title="Categoria"> Categoría </label> 
	<input id="categoria" name="categoria" type="text" value="$propiedad.get('categoria','')" $readonly/> <br/>
	<label for="obligatoria"  title="Si o No"> Obligatoria </label> 
	$ valor_checkbox = 'checked' if propiedad.get('obligatoria',None) else ''
	<input id="obligatoria" name="obligatoria" type="checkbox" $valor_checkbox $readonly/> <br/>
	<label for="unidad" title="Si posee"> Unidad </label> 
	<input id="unidad" name="unidad" type="text" value="$propiedad.get('unidad','')" $readonly/> <br/>
      </fieldset>

      <fieldset id="codificaciones">
	<legend> Codificaciones </legend>
	$for c in codificaciones:
	<label> $c.get('nombre') - [<b>$c.get('valor')</b>]: </label>
	$ min = ''
	$ max = ''
	$if propiedad.get('codificaciones'):
	    $ min = propiedad.get('codificaciones').get(c.get('nombre')).min
	    $ min = min if min else '<'
	    $ max = propiedad.get('codificaciones').get(c.get('nombre')).max
	    $ max = max if max else '>'
	De <input id="$c.get('valor')-min" name="$c.get('valor')-min" type="text" value="$min" class="rango-decimal" $readonly title="vacio significa '<'"/>
	a  <input id="$c.get('valor')-max" name="$c.get('valor')-max" type="text" value="$max" class="rango-decimal" $readonly title="vacio significa '>'"/> 
	<a id="$c.get('valor')-msg" width="60px"> <!-- para mensajes --> </a><br/>
      </fieldset>
      <!--input type="reset" value="LIMPIAR"/>
      <input type="submit" value="GRABAR"/-->
    </form>
    <button id="btnguardar" class="boton-grande" $disabled>GUARDAR PROPIEDAD  </button>
  </body>
</html>
