<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Green Forest  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20110306

-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Análisis de Propiedades de la Madera</title>
    <link href="static/themes/greenforest/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/plugins/tipsy/css/tipsy.css"/>
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatable/css/demo_page.css"/>
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatable/css/demo_table.css"/>
    <!--link rel="stylesheet" type="text/css" href="/static/plugins/datatable/css/demo_table_jui.css"/-->
    <link rel="stylesheet" type="text/css" href="/static/css/forest.css">
    <!--tema -->
    <link rel="stylesheet" type="text/css" href="/static/themes/greenforest/style.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"> </script>
    <!--script type="text/javascript" language="javascript" src="/static/plugins/datatable/js/jquery.js"-->
    </script>
    <!--plugins-->
    <script type="text/javascript" src="/static/plugins/tipsy/jquery.tipsy.min.js"> </script>
    <script type="text/javascript" src="/static/js/forest.js"> </script>
    <script type="text/javascript" language="javascript" src="/static/plugins/datatable/js/jquery.dataTables.js"> </script> 
    <script type="text/javascript" language="javascript">
    </script>

  </head>
  <body>
    <div id="wrapper">
      <div id="header">

	<div id="logo">
	</div>
      </div>
      <!-- end #header -->
      <div id="page">
	<div id="page-bgtop">
	  <div id="page-bgbtm">
	    <div id="content">
	    </div>
	    <!-- end #content -->
	    <!--div id="sidebar"-->
	    <div id="sidebar">
	      <ul>
		<li>
		  <!--a href="/cambiarclave"> cambiar </a--> 
		  <!--pendiente... -->
		  <a style="color: green;font-weight:bold" href="javascript:menu_ajax('/cambiarclave')">
		    Cambiar Clave
		  </a> | 
		  <a href="/?salir=1" style="color:green;font-weight:bold">Salir</a>
		  <p/>
		  <ul>
		    <li><a href="javascript:menu_ajax('/propiedades')">Propiedades</a></li>
		    <li><a href="javascript:menu_ajax('/editptecnologica')" title="Tecnológica">Crear Propiedad T</a></li>
		    <li><a href="javascript:menu_ajax('/editpanatomica')" title="Anatómica">Crear Popiedad A</a></li>
		    <li><a href="javascript:menu_ajax('/usos')">Usos</a></li>
		    <li><a href="javascript:menu_ajax('/edituso')">Crear Uso</a></li>
		    <li><a href="javascript:menu_ajax('/maderas')">Maderas</a></li>
		    <li><a href="javascript:menu_ajax('/editmadera')">Crear Madera</a></li>
		    <li><a href="javascript:menu_ajax('/seleccionar_madera')">Analizar Madera</a></li>
		    <li><a href="javascript:menu_ajax('/seleccionar_uso')">Analizar Uso</a></li>
		    <li></li>
		  </ul>
		</li>
		<li>
	      </ul>
	    </div>
	    <!-- end #sidebar -->
	</div>
      </div>
      <!-- end #page -->
    </div>
    <!--div id="footer">
      <p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div-->
    <!-- end #footer -->
  </body>
</html>
